version: 2

download:
    interface: 
    ipv6: False
    limit_speed: False
    max_downloads: 3
    max_speed: -1
    skip_existing: False

general:
    language: en
    storage_folder: /config/downloads

permission:
    change_dl: True
    change_group: False
    change_user: False
    folder: 0o755
    file: 0o644
    user: pyload
    group: pyload

webui:
    port: 8000
    host: 0.0.0.0
    prefix: 
    enabled: True